﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-controller="tabCtr">
    <div class="row">
        <button type="button" class="btn btn-success btn-xs" ng-click="add()">add</button>
        <bernd callback="foo(newValue, oldValue)" />  
    </div>
    <div class="row">
        <ul class="nav nav-tabs" on-click-rigth callback="show(id, point)">
            <li class="active item">
                <a href="#">Home</a>
                @*<p>
                    {{doc.text}}
                </p>*@
            </li>
            <li class="item collapse" ng-repeat="doc in service.documents | orderByIds" ng-click="select(doc.id, $index)" data-id="{{doc.id}}">
                @*<li ng-repeat="doc in toArray()" ng-click="select(doc.id)">*@
                @*<li ng-repeat="doc in service.documents track by $index">*@
                <a href="#">{{doc.title}}</a>
                <a href="#" class="close" aria-label="close" ng-click="close(doc.id)">&times;</a>
                @*<p>
                {{doc.text}}
            </p>*@
            </li>
        </ul>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/tabs")
}